/* PARTE INICIAL DO SITE*/

body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;

}

#app {
  height: 85vh;
  font-family: "Montserrat", serif;
  background-color: #000000;
}


.hero {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hero h1, h2, p {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  line-height: 100%;
  user-select: none;
}

.hero h1 {
  font-size: 14vw;
  font-weight: 700;
  
}

.hero h2 {
  font-size: 5vw;
  font-weight: 500;
  text-transform: uppercase;
}
.btn p{
    font-size: 3vw;
    color: red;

}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}



.subir{
  background-color: #000000;
  min-height: 15vh;
  position: relative;
  

}
.subir p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}



.seta{
  position: absolute;
  border-top: 4px solid rgb(255, 255, 255);
  border-left: 4px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translate(-50%);
  transform: rotate(45deg);
  animation: subir 2s linear infinite;

}

@keyframes subir{
  0%, 10%, 50%, 90%{
    transform: translate(0) rotate(45deg);
  }
  30%,70%{
    transform: translateY(-10px) rotate(45deg);
  }
}


/* PARTE APRESENTAÇAO DO SITE*/

.apresentacao{
  background-color: darkgray;
  min-height: 100vh;
  position: relative;
}
.apresentacao img{
  width: 200px;
  border-radius: 60% 0 0 0 ;
}
.um{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}