/* PARTE INICIAL DO SITE*/
@font-face{
  src: url('../fonts/ChettaVissto.ttf');
  font-family: logo;
}
body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;

}

#app {
  height: 85vh;
  font-family: "Montserrat", serif;
  background-color: #000000;
}


.hero {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hero h1, h2, p {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  line-height: 100%;
  user-select: none;
}

.hero h1 {
  font-size: 14vw;
  font-weight: 700;

  
}

.hero h2 {
  font-size: 5vw;
  font-weight: 500;
  text-transform: uppercase;
}
.btn p{
    font-size: 3vw;
    color: red;

}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}



.subir{
  background-color: #000000;
  min-height: 15vh;
  position: relative;
  

}
.subir p{
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-60%,-50%);
  text-align: center;
  animation: subir 1s linear infinite;
  font-size: 5em;
}





@keyframes subir{
  0%{
    top: 0;
  }
  25%{
    top: -5px;
  }

   50%{
    top: -10px;
  }
  75%{
    top: 5px;
    
  }
  100%{
    top: 0;
  }
 
}


/* PARTE APRESENTAÇAO DO SITE*/

.apresentacao{
  background-image: url('../img/pano-branco.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 80vh;
  position: relative;
}
.apresentacao h2{
  font-weight: normal;
  color: rgb(0, 33, 0);
  position: absolute;
  top: 10vh;
  left: 3vw;
}
.apresentacao h2>span{
  font-size: 3em;
  font-variant: small-caps;
}
.apresentacao img{
  width:44vw ;
  
}

.left{
position: absolute;
border-radius: 80px 0 0 0;
left: 5vw;
bottom: 10px;
z-index: 4;

}
.right{
position: absolute;
left: 51vw;
bottom: 10px;
border-radius: 0 80px 0 0;
z-index: 2;

}
.flor{
  position: absolute;
  top: 150px;
  left:30%;
  transform: rotate(80deg);
  z-index: 3;

}



.sobre-mim{
  min-height: 100vh;
  position: relative;
  background-image: url('../img/Jadna.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}
.sobre-mim h2{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  font-family: logo;
  background-color: darkgrey;
  padding: 10px;
  border-radius: 50px 0 20px 0;
  word-spacing: 2px;
  text-align: center;

}
.cabecalho{
  position: relative;
}

.sobre-mim p{
  font-family: 'Courier New', Courier, monospace;
  background-color: #c4bc9998;
  position: absolute;
  width: 70vw;
  border: 5px solid #aa8633;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 10px;
  font-size: 1.2em;
  line-height: 1em;
  color: #000000;
  border-radius: 30px;
 
  
}

.informacoes{
  position: relative;
  min-height: 100vh;
  background-image: url('../img/pano-branco.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
 
}


.informacoes h2{
  position: absolute;
  height: 25px;
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  display: inline-block;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 30px;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
   z-index: 2;
}
.informacoes h2>span{
 font-size: 1.5em;
 font-variant: small-caps;
}
.informacoes img{
  position: absolute;
}
.florinformacoes{
  width: 100px;
  transform: rotate(45deg);
  bottom: 0;
  left: 50%;
}
.folhainformacoes{
  width: 80px;
}
#folha1{
  border: 1px solid black;
  top: 0;
  left: 80%;
  transform: rotate(220deg);
  animation: pulsar 1s infinite linear;

}

@keyframes pulsar{
  0%,100%{
    transform: scale(1) rotate(220deg);

      }
  50%{
    transform: scale(1.1) rotate(220deg);
  }
}

.procedimentos{
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.procedimentos p{
  margin-top: 50px;
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  padding: 20px 10px;
  border-radius: 20px;
  line-height: 1.3em;
  z-index: 2;
}

.servicos{
  min-height: 100vh;
  background-image: url('../img/jadna-trabalho.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}
#newimg{
  min-height: 100vh;
  background-image: url('../img/jadna2-servico.png');
  background-repeat: no-repeat;
  background-position:  bottom left;
  background-size: cover;
 
  background-attachment: fixed;
}

.servicos h2{
  background-color: rgb(61, 61, 61);
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 0;
  margin-bottom: 100px;
  z-index: 2;
}

.servicos div{
  position: relative;
  background-image: url('../img/fundo-cimento-queimado.jpg');
  width: 60vw;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 40px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 0 10px 30px 10px;
  
}

.servicos div>p{
  color: white;
  width: 40vw;
  margin-left: 10px;
}
.servicos>p{
  margin-bottom: 100px;
  text-align: center;
}


.agendarbtn{ 
  position: absolute;
  display: block;
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  color: white;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  animation: btn-pulsar 3s linear infinite;
  font-size: 0.8em;
}
@keyframes btn-pulsar {
  0%,100%{
    transform: scale(1) translate(-50%,-50%);
  }
  50%{
    transform: scale(1.1) translate(-50%,-50%);
  }
}

.new{
  margin-top: 150px;
}

.topimg{
  position: absolute;
 width: 170px;
 height: 170px;
 top: -50%;
 left: 80%;
 border: 2px solid black;
}
.top-img-make{
  position: absolute;
 width: 170px;
 
 top: -50%;
 left: 80%;
 border: 2px solid black;
}
.rightimg{
  position: absolute;
  width: 150px;
  
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border: 2px solid black;
}

footer{
  height: 100vh;
  position: relative;
}footer h2{
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  width: 200px;
  height: 28px;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 20px 7px rgba(0, 0, 0, 0.52);
 
}
footer h2>span{
   text-shadow: 
  1px 1px 0 black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black
  ;
}
footer div{
  
  width: 70vw;
  text-align: justify;
  margin: 0 auto;
}
footer p{
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  margin-top: 50px;
  padding: 20px;
  border-radius: 30px 0;
}
.footerimgtop{
  display:block;
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 2px solid #837342;
  box-sizing: border-box;
  margin: 0 auto;
}