

/* PARTE APRESENTAÇAO DO SITE*/

.apresentacao{
  min-height: 90vh;
}
.apresentacao h2{
  font-size: 2em;
}
.apresentacao h2>span{
  font-size: 3em;
  font-variant: small-caps;
}
.apresentacao img{
  width:44vw ;
  
}


.flor{
 
  top: 97px;
  left:40%;

}

.sobre-mim h2{

  padding: 30px;
 font-size: 2em;

}

.sobre-mim p{

  width: 60vw;
  border: 7px dashed #BF964B;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 10px;
  font-size: 1.7em;
  line-height: 1.3em;
 
  
 
  
}


.procedimentos{
  position: absolute;
  width: 70vw;
  top: 50%;
  left: 50%;
 
}
.procedimentos p{
  font-size: 1.5em;

  padding: 30px 15px;
  border-radius: 25px;
 
}


.servicos h2{
 font-size: 2em;
}
.servicos h3{
text-shadow: 0 0 6px white;
font-size: 1.7em;
}


#newimg div{
  left: 100%;
  transform: translate(-125%);

}
.servicos div>p{
 
  font-size: 1.4em;
}
.servicos>p{
  font-size: 1.8em;
}


.agendarbtn{ 

  font-size: 1.4em;
 
}

.new{
  margin-top: 150px;
}

.topimg{
  position: absolute;
 width: 190px;
 height: 190px;
 top: -40%;
 left: 80%;
 
}
.top-img-make{
  position: absolute;
 width: 190px;
 
 top: -50%;
 left: 80%;
 border: 2px solid black;
}


footer h2{
 font-size:1.7em ;
 
}


footer div{
  
  width: 60vw;
  text-align: justify;
  margin: 10vw auto;
}
footer div{
  position: relative;
}
.flor-roda-pe{
  position: absolute;
  width: 150px; 
  bottom: -190px;
  transform: rotate(80deg);

}
footer p{
 
  font-size: 1.5em;
}
.footerimgtop{
 
  width: 170px;
  
}

#forma-de-pagamento{
 width: 400px;
  bottom: 0;
  
}
  
#forma-de-pagamento img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
}
@supports not (background-attachment: fixed) {
  .servicos,
  #newimg {
    background-image: linear-gradient(to left, rgb(59, 59, 59), rgb(87, 87, 87),white, rgb(122, 122, 122));
    background-attachment: scroll;
    background-size: cover;
  }
}

@supports not (background-attachment: fixed) {
  .sobre-mim{
    background-attachment: scroll;
    background-size: cover;
  }
}