

/* PARTE APRESENTAÇAO DO SITE*/

.apresentacao{
  min-height: 90vh;
}
.apresentacao h2{
  font-size: 2em;
}
.apresentacao h2>span{
  font-size: 3em;
  font-variant: small-caps;
}
.apresentacao img{
  width:44vw ;
  
}


.flor{
 
  top: 97px;
  left:40%;

}

.sobre-mim h2{

  padding: 30px;
 font-size: 2em;

}

.sobre-mim p{

  width: 60vw;
  border: 7px dashed #BF964B;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 10px;
  font-size: 1.7em;
  line-height: 1.3em;
 
  
 
  
}


.procedimentos{
  position: absolute;
  width: 70vw;
  top: 50%;
  left: 50%;
 
}
.procedimentos p{
  font-size: 1.5em;

  padding: 30px 15px;
  border-radius: 25px;
 
}


.servicos h2{
 font-size: 2em;
}
.servicos h3{
text-shadow: 0 0 6px white;
font-size: 1.7em;
}



.servicos div>p{
  color: white;
  width: 40vw;
  margin-left: 10px;
}
.servicos>p{
  font-size: 1.8em;
}
.valor{
  display: inline-block;
  margin-top: 5px;
  font-size: 1.5em;
  text-shadow: 
  1px 1px 0 black,
  -1px -1px 0 black,
  -1px 1px 0 black,
  1px -1px 0 black
  ;
}
.aplicacao-manutencao{
  display: block;
 background-image: linear-gradient(to right,#514b3d75,#837342b3,#bf964bb5);
  padding: 3px;
  border-radius: 10px;
}

.agendarbtn{ 
  position: absolute;
  display: block;
  background-image: linear-gradient(to right,#514b3d,#837342,#BF964B);
  color: white;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  animation: btn-pulsar 3s linear infinite;
  font-size: 0.8em;
  border: 1px solid black;
}
@keyframes btn-pulsar {
  0%,100%{
    transform: scale(1) translate(-50%,-50%);
  }
  50%{
    transform: scale(1.1) translate(-50%,-50%);
  }
}

.new{
  margin-top: 150px;
}

.topimg{
  position: absolute;
 width: 170px;
 height: 170px;
 top: -50%;
 left: 80%;
 border: 2px solid black;
}
.top-img-make{
  position: absolute;
 width: 170px;
 
 top: -50%;
 left: 80%;
 border: 2px solid black;
}
.rightimg{
  position: absolute;
  width: 150px;
  
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border: 2px solid black;
}

footer{
  height: 100vh;
  position: relative;
  background-image: url('../img/pano-branco.jpg');
}footer h2{
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  width: 200px;
  height: 28px;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 20px 7px rgba(0, 0, 0, 0.52);
 
}

footer h3{
  color: white;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  width: 200px;
  height: 28px;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 20px 7px rgba(0, 0, 0, 0.52);
 
}
footer h2>span{
   text-shadow: 
  1px 1px 0 black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black
  ;
}
footer div{
  
  width: 80vw;
  text-align: justify;
  margin: 0 auto;
}
footer div{
  position: relative;
}
.flor-roda-pe{
  position: absolute;
  width: 80px; 
  bottom: -110px;
  transform: rotate(80deg);

}
footer p{
  background-image: linear-gradient(to right,#514B3D,#837342,#BF964B);
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px 0;
}
.footerimgtop{
  display:block;
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 2px solid #837342;
  box-sizing: border-box;
  margin: 0 auto;
}

#forma-de-pagamento{
  position: absolute;
  display: block;
  width: 200px;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%);
  text-align: center
}
  
#forma-de-pagamento img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}
@supports not (background-attachment: fixed) {
  .servicos,
  #newimg {
    background-image: linear-gradient(to left, rgb(59, 59, 59), rgb(87, 87, 87),white, rgb(122, 122, 122));
    background-attachment: scroll;
    background-size: cover;
  }
}

@supports not (background-attachment: fixed) {
  .sobre-mim{
    background-attachment: scroll;
    background-size: cover;
  }
}